sudo: false
language: go
#env:
#  - GO111MODULE=on
go:
  - 1.11.x
git:
  depth: 1

notifications:
  email: false

before_script:
  - go install -mod vendor github.com/golangci/golangci-lint/cmd/golangci-lint
  - go get github.com/docker/docker/api
  - go get github.com/docker/docker/client
  - rm -rf /go/src/github.com/docker/docker/vendor/github.com/docker/go-connections
  - go get -t -v ./...
  - go get github.com/jstemmer/go-junit-report

script:
  - ./scripts/coverage.sh

